@using WebBTL1.Pagination;
@using WebBTL1.ViewModels;
@model PaginatedList<AwardDiplomaViewModel>

@{
    ViewData["Title"] = "Index";
}
<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Employee
            </th>
            <th>
                Diploma
            </th>
            <th>
                Diploma Granting Unit
            </th>
            <th>
                Granting Date
            </th>
            <th>
                Duration
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diploma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiplomaGrantingUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrantingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<br />

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    var startPage = Math.Max(1, Model.PageIndex - 2);
    var endPage = Math.Min(Model.TotalPages, Model.PageIndex + 2);
}

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item @(Model.PageIndex == 1 ? "disabled" : "")">
            <a asp-action="Index" asp-route-pageNumber="1" class="page-link">
                1
            </a>
        </li>
        @if (startPage > 2)
        {
            <li class="page-item disabled">
                <span class="page-link">...</span>
            </li>
        }
        @for (var i = startPage; i <= endPage; i++)
        {
            <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                <a asp-action="Index" asp-route-pageNumber="@i" class="page-link">
                    @i
                </a>
            </li>
        }
        @if (endPage < Model.TotalPages - 1)
        {
            <li class="page-item disabled">
                <span class="page-link">...</span>
            </li>
        }
        @if (Model.PageIndex != Model.TotalPages && Model.TotalPages > 1)
        {
            <li class="page-item @(Model.PageIndex == Model.TotalPages ? "active" : "")">
                <a asp-action="Index" asp-route-pageNumber="@Model.TotalPages" class="page-link">
                    @Model.TotalPages
                </a>
            </li>
        }
    </ul>
</nav>
